In [1]:
import pandas as pd
import numpy as np
import os
import sys

In [2]:
def save_dataframe(path, dataframe):
    np.save(path + ".data", dataframe.values)
    np.save(path + ".header", dataframe.columns)
    
def load_dataframe(path):
    data = np.load(path + ".data.npy")
    header = np.load(path + ".header.npy")
    return pd.DataFrame(data=data, columns=header)

def save_dataframe32(path, dataframe, keep=[]):
    col64 = [col_ for col_ in dataframe.columns if col_ in keep]
    col32 = [col_ for col_ in dataframe.columns if col_ not in keep]
    dataframe64 = dataframe[col64]
    dataframe32 = dataframe[col32]
    np.save(path + ".data64", dataframe64.values)
    np.save(path + ".header64", col64)
    np.save(path + ".data32", dataframe32.values.astype(np.float32))
    np.save(path + ".header32", col32)

def load_dataframe32(path):
    path_data32 = path + ".data32.npy"
    path_header32 = path + ".header32.npy"
    path_data64 = path + ".data64.npy"
    path_header64 = path + ".header64.npy"
    result = pd.DataFrame()
    if os.path.exists(path_data32):
        data32 = np.load(path_data32)
        header32 = np.load(path_header32)
        df32 = pd.DataFrame(data=data32, columns=header32)
        result = pd.concat([result, df32], axis=1)
    if os.path.exists(path_data64):
        data64 = np.load(path_data64)
        header64 = np.load(path_header64)
        df64 = pd.DataFrame(data=data64, columns=header64)
        result = pd.concat([result, df64], axis=1)
    return result

In [3]:
dataframe = pd.DataFrame(np.ones((10, 5)))
dataframe.columns = ["col_{}".format(col_) for col_ in dataframe.columns]

In [4]:
dataframe.head()

   col_0  col_1  col_2  col_3  col_4
0    1.0    1.0    1.0    1.0    1.0
1    1.0    1.0    1.0    1.0    1.0
2    1.0    1.0    1.0    1.0    1.0
3    1.0    1.0    1.0    1.0    1.0
4    1.0    1.0    1.0    1.0    1.0

In [5]:
save_dataframe32("./data/test_fastsave32", dataframe, keep=["col_0"])
dataframe2 = load_dataframe32("./data/test_fastsave32")

In [6]:
dataframe2.head()

   col_1  col_2  col_3  col_4  col_0
0    1.0    1.0    1.0    1.0    1.0
1    1.0    1.0    1.0    1.0    1.0
2    1.0    1.0    1.0    1.0    1.0
3    1.0    1.0    1.0    1.0    1.0
4    1.0    1.0    1.0    1.0    1.0

In [7]:
print(sys.getsizeof(dataframe))
print(sys.getsizeof(dataframe2))

504
344