In [1]:
import pandas as pd
import numpy as np

In [5]:
dataframe = pd.DataFrame(np.ones((10, 5)))
dataframe.columns = ["col_{}".format(col_) for col_ in dataframe.columns]

In [11]:
def save_dataframe(path, dataframe):
    np.save(path + ".data", dataframe.values)
    np.save(path + ".header", dataframe.columns)
    
def load_dataframe(path):
    data = np.load(path + ".data.npy")
    header = np.load(path + ".header.npy")
    return pd.DataFrame(data=data, columns=header)

In [8]:
save_dataframe("./data/test_fastsave", dataframe)

In [6]:
dataframe.head()

   col_0  col_1  col_2  col_3  col_4
0    1.0    1.0    1.0    1.0    1.0
1    1.0    1.0    1.0    1.0    1.0
2    1.0    1.0    1.0    1.0    1.0
3    1.0    1.0    1.0    1.0    1.0
4    1.0    1.0    1.0    1.0    1.0

In [12]:
dataframe2 = load_dataframe("./data/test_fastsave")

In [13]:
dataframe2.head()

   col_0  col_1  col_2  col_3  col_4
0    1.0    1.0    1.0    1.0    1.0
1    1.0    1.0    1.0    1.0    1.0
2    1.0    1.0    1.0    1.0    1.0
3    1.0    1.0    1.0    1.0    1.0
4    1.0    1.0    1.0    1.0    1.0