In [4]:
import pandas as pd
import numpy as np
import os


def save_dataframe(path, dataframe):
    np.save(path + ".data", dataframe.values)
    np.save(path + ".header", dataframe.columns)


def load_dataframe(path):
    data = np.load(path + ".data.npy")
    header = np.load(path + ".header.npy")
    return pd.DataFrame(data=data, columns=header)


def save_dataframe32(path, dataframe, keep=[]):
    col64 = [col_ for col_ in dataframe.columns if col_ in keep]
    col32 = [col_ for col_ in dataframe.columns if col_ not in keep]
    dataframe64 = dataframe[col64]
    dataframe32 = dataframe[col32]
    np.save(path + ".data64", dataframe64.values)
    np.save(path + ".header64", col64)
    np.save(path + ".data32", dataframe32.values.astype(np.float32))
    np.save(path + ".header32", col32)


def load_dataframe32(path, nrows=None):
    path_data32 = path + ".data32.npy"
    path_header32 = path + ".header32.npy"
    path_data64 = path + ".data64.npy"
    path_header64 = path + ".header64.npy"
    result = pd.DataFrame()
    if os.path.exists(path_data32):
        data32 = np.load(path_data32)
        header32 = np.load(path_header32)
        df32 = pd.DataFrame(data=data32, columns=header32)
        result = pd.concat([result, df32], axis=1)
    if os.path.exists(path_data64):
        data64 = np.load(path_data64)
        header64 = np.load(path_header64)
        df64 = pd.DataFrame(data=data64, columns=header64)
        result = pd.concat([result, df64], axis=1)
    if nrows and nrows > 0:
        return result.head(nrows)
    return result

In [2]:
os.listdir("./neptune-features/")

['data_1000_1174_11.data32.npy',
 'data_1000_1174_11.data64.npy',
 'data_1000_1174_11.header32.npy',
 'data_1000_1174_11.header64.npy',
 'data_1000_1174_15.data32.npy',
 'data_1000_1174_15.data64.npy',
 'data_1000_1174_15.header32.npy',
 'data_1000_1174_15.header64.npy',
 'data_1000_1174_19.data32.npy',
 'data_1000_1174_19.data64.npy',
 'data_1000_1174_19.header32.npy',
 'data_1000_1174_19.header64.npy',
 'data_1000_1174_3.data32.npy',
 'data_1000_1174_3.data64.npy',
 'data_1000_1174_3.header32.npy',
 'data_1000_1174_3.header64.npy',
 'data_1000_1174_7.data32.npy',
 'data_1000_1174_7.data64.npy',
 'data_1000_1174_7.header32.npy',
 'data_1000_1174_7.header64.npy',
 'data_200_1174_1.data32.npy',
 'data_200_1174_1.data64.npy',
 'data_200_1174_1.header32.npy',
 'data_200_1174_1.header64.npy',
 'data_200_1174_10.data32.npy',
 'data_200_1174_10.data64.npy',
 'data_200_1174_10.header32.npy',
 'data_200_1174_10.header64.npy',
 'data_200_1174_13.data32.npy',
 'data_200_1174_13.data64.npy',
 'data_200_1174_13.header32.npy',
 'data_200_1174_13.header64.npy',
 'data_200_1174_14.data32.npy',
 'data_200_1174_14.data64.npy',
 'data_200_1174_14.header32.npy',
 'data_200_1174_14.header64.npy',
 'data_200_1174_17.data32.npy',
 'data_200_1174_17.data64.npy',
 'data_200_1174_17.header32.npy',
 'data_200_1174_17.header64.npy',
 'data_200_1174_18.data32.npy',
 'data_200_1174_18.data64.npy',
 'data_200_1174_18.header32.npy',
 'data_200_1174_18.header64.npy',
 'data_200_1174_2.data32.npy',
 'data_200_1174_2.data64.npy',
 'data_200_1174_2.header32.npy',
 'data_200_1174_2.header64.npy',
 'data_200_1174_5.data32.npy',
 'data_200_1174_5.data64.npy',
 'data_200_1174_5.header32.npy',
 'data_200_1174_5.header64.npy',
 'data_200_1174_6.data32.npy',
 'data_200_1174_6.data64.npy',
 'data_200_1174_6.header32.npy',
 'data_200_1174_6.header64.npy',
 'data_200_1174_9.data32.npy',
 'data_200_1174_9.data64.npy',
 'data_200_1174_9.header32.npy',
 'data_200_1174_9.header64.npy',
 'data_800_1174_0.data32.npy',
 'data_800_1174_0.data64.npy',
 'data_800_1174_0.header32.npy',
 'data_800_1174_0.header64.npy',
 'data_800_1174_12.data32.npy',
 'data_800_1174_12.data64.npy',
 'data_800_1174_12.header32.npy',
 'data_800_1174_12.header64.npy',
 'data_800_1174_16.data32.npy',
 'data_800_1174_16.data64.npy',
 'data_800_1174_16.header32.npy',
 'data_800_1174_16.header64.npy',
 'data_800_1174_4.data32.npy',
 'data_800_1174_4.data64.npy',
 'data_800_1174_4.header32.npy',
 'data_800_1174_4.header64.npy',
 'data_800_1174_8.data32.npy',
 'data_800_1174_8.data64.npy',
 'data_800_1174_8.header32.npy',
 'data_800_1174_8.header64.npy',
 'features_1000_1174_11.npy',
 'features_1000_1174_15.npy',
 'features_1000_1174_19.npy',
 'features_1000_1174_3.npy',
 'features_1000_1174_7.npy',
 'features_200_1174_1.npy',
 'features_200_1174_10.npy',
 'features_200_1174_13.npy',
 'features_200_1174_14.npy',
 'features_200_1174_17.npy',
 'features_200_1174_18.npy',
 'features_200_1174_2.npy',
 'features_200_1174_5.npy',
 'features_200_1174_6.npy',
 'features_200_1174_9.npy',
 'features_800_1174_0.npy',
 'features_800_1174_12.npy',
 'features_800_1174_16.npy',
 'features_800_1174_4.npy',
 'features_800_1174_8.npy']

## data

In [13]:
data_validate1_fold0 = load_dataframe32("./neptune-features/data_200_1174_1")
print(data_validate1_fold0.shape)
data_validate1_fold0.head()

(200, 1174)

,annuity_income_percentage,car_to_birth_ratio,car_to_employ_ratio,children_ratio,credit_to_annuity_ratio,credit_to_goods_ratio,credit_to_income_ratio,days_employed_percentage,income_credit_percentage,income_per_child,...,NAME_HOUSING_TYPE,OCCUPATION_TYPE,ORGANIZATION_TYPE,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,WALLSMATERIAL_MODE,WEEKDAY_APPR_PROCESS_START,nan_count
0,0.150000,NaN,NaN,0.0,20.000000,1.000000,3.000000,0.139540,0.333333,135000.0,...,1.0,1.0,39.0,1.0,1.0,1.0,1.0,0.0,3.0,464.0
1,0.070000,NaN,NaN,0.0,20.000000,1.000000,1.400000,0.440456,0.714286,112500.0,...,1.0,1.0,26.0,1.0,1.0,1.0,1.0,1.0,6.0,788.0
2,0.243667,NaN,NaN,0.0,34.199726,1.000000,8.333333,0.286616,0.120000,135000.0,...,1.0,2.0,41.0,1.0,1.0,1.0,1.0,1.0,6.0,819.0
3,0.150000,-0.000186,-0.001704,0.0,20.000000,1.000000,3.000000,0.109203,0.333333,180000.0,...,1.0,4.0,1.0,1.0,1.0,1.0,1.0,1.0,7.0,765.0
4,0.238422,NaN,NaN,0.0,13.705378,1.105602,3.267667,0.077134,0.306029,202500.0,...,1.0,0.0,1.0,1.0,2.0,1.0,1.0,0.0,1.0,866.0

In [14]:
data_validate2_fold0 = load_dataframe32("./neptune-features/data_200_1174_2")
print(data_validate2_fold0.shape)
data_validate2_fold0.head()

(200, 1174)

,annuity_income_percentage,car_to_birth_ratio,car_to_employ_ratio,children_ratio,credit_to_annuity_ratio,credit_to_goods_ratio,credit_to_income_ratio,days_employed_percentage,income_credit_percentage,income_per_child,...,NAME_HOUSING_TYPE,OCCUPATION_TYPE,ORGANIZATION_TYPE,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,WALLSMATERIAL_MODE,WEEKDAY_APPR_PROCESS_START,nan_count
0,0.150000,NaN,NaN,0.0,20.000000,1.000000,3.000000,0.139540,0.333333,135000.0,...,1.0,1.0,39.0,1.0,1.0,1.0,1.0,0.0,3.0,464.0
1,0.070000,NaN,NaN,0.0,20.000000,1.000000,1.400000,0.440456,0.714286,112500.0,...,1.0,1.0,26.0,1.0,1.0,1.0,1.0,1.0,6.0,788.0
2,0.243667,NaN,NaN,0.0,34.199726,1.000000,8.333333,0.286616,0.120000,135000.0,...,1.0,2.0,41.0,1.0,1.0,1.0,1.0,1.0,6.0,819.0
3,0.150000,-0.000186,-0.001704,0.0,20.000000,1.000000,3.000000,0.109203,0.333333,180000.0,...,1.0,4.0,1.0,1.0,1.0,1.0,1.0,1.0,7.0,765.0
4,0.238422,NaN,NaN,0.0,13.705378,1.105602,3.267667,0.077134,0.306029,202500.0,...,1.0,0.0,1.0,1.0,2.0,1.0,1.0,0.0,1.0,866.0

## index

In [16]:
train_idx_fold0 = np.load("./neptune-features/train_idx_0.npy")
valid_idx_fold0 = np.load("./neptune-features/valid_idx_0.npy")

In [17]:
train_idx_fold0

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,  10,  11,  12,  13,
        14,  15,  16,  17,  19,  20,  21,  22,  23,  24,  25,  26,  27,
        28,  29,  30,  31,  32,  33,  35,  36,  37,  38,  40,  41,  42,
        43,  45,  46,  47,  48,  49,  50,  51,  52,  54,  55,  56,  58,
        60,  61,  62,  63,  64,  65,  67,  68,  70,  72,  73,  74,  75,
        76,  77,  78,  79,  81,  82,  83,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 104,
       105, 106, 107, 108, 109, 111, 112, 113, 114, 115, 116, 117, 118,
       119, 121, 122, 123, 124, 125, 126, 127, 128, 130, 132, 133, 134,
       136, 137, 140, 141, 144, 145, 146, 147, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 164, 165, 166, 167, 168, 170,
       172, 174, 175, 177, 178, 179, 180, 181, 182, 184, 185, 187, 188,
       189, 190, 191, 192, 193, 195, 196, 198, 199, 200, 201, 202, 203,
       204, 205, 206, 207, 209, 211, 213, 214, 216, 217, 219, 220, 221,
       222, 223, 225, 226, 228, 229, 230, 231, 232, 233, 234, 236, 237,
       239, 241, 243, 244, 246, 247, 248, 249, 250, 251, 252, 253, 254,
       256, 257, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269,
       270, 271, 272, 273, 275, 276, 277, 279, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 303, 305, 306, 307, 308, 309, 310, 311, 312, 313,
       314, 315, 316, 317, 319, 320, 321, 323, 324, 325, 326, 327, 328,
       329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 341, 342,
       343, 344, 345, 346, 348, 349, 350, 351, 352, 353, 356, 357, 358,
       359, 360, 362, 363, 364, 365, 366, 367, 368, 369, 370, 372, 373,
       375, 377, 379, 380, 381, 382, 383, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 407, 408, 410, 412, 413, 414, 415, 416, 417, 418, 419,
       420, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 433, 436,
       437, 438, 439, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450,
       451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 464,
       465, 466, 467, 470, 471, 472, 473, 474, 475, 478, 479, 480, 481,
       483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 494, 495, 496,
       497, 500, 501, 502, 503, 504, 507, 508, 509, 510, 511, 512, 513,
       515, 516, 518, 519, 521, 522, 523, 524, 526, 527, 528, 529, 530,
       531, 532, 534, 537, 538, 539, 540, 541, 545, 546, 548, 549, 551,
       555, 556, 558, 559, 560, 561, 562, 563, 565, 567, 568, 570, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 593, 594, 595, 598, 599, 600, 602,
       603, 604, 605, 606, 607, 608, 609, 610, 612, 614, 615, 616, 617,
       618, 619, 622, 624, 625, 626, 627, 628, 629, 635, 637, 638, 639,
       640, 641, 642, 643, 644, 645, 647, 648, 649, 650, 651, 652, 655,
       656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 669,
       670, 672, 673, 674, 675, 676, 677, 678, 680, 681, 683, 684, 686,
       687, 688, 689, 691, 692, 693, 695, 696, 697, 698, 700, 701, 702,
       703, 705, 706, 707, 710, 711, 712, 713, 714, 715, 716, 717, 719,
       720, 721, 722, 723, 724, 726, 727, 728, 729, 730, 731, 732, 733,
       734, 735, 737, 738, 740, 741, 745, 747, 748, 749, 750, 751, 752,
       754, 755, 756, 757, 759, 760, 761, 762, 763, 764, 765, 766, 767,
       768, 769, 770, 771, 772, 773, 776, 780, 782, 783, 784, 786, 787,
       788, 789, 790, 793, 794, 795, 797, 798, 800, 801, 805, 806, 807,
       808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 819, 820, 821,
       822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834,
       835, 837, 838, 839, 840, 842, 843, 844, 847, 848, 849, 850, 851,
       853, 855, 857, 858, 859, 860, 861, 862, 863, 864, 865, 867, 868,
       869, 870, 872, 874, 875, 877, 878, 879, 880, 881, 883, 884, 885,
       886, 888, 889, 890, 892, 893, 894, 896, 897, 898, 900, 901, 902,
       903, 905, 906, 907, 908, 909, 910, 911, 913, 914, 916, 917, 919,
       920, 921, 922, 923, 924, 925, 927, 928, 929, 930, 931, 933, 934,
       935, 936, 939, 940, 942, 943, 944, 945, 946, 947, 949, 952, 955,
       957, 958, 961, 962, 963, 965, 966, 967, 968, 969, 970, 971, 973,
       974, 975, 976, 977, 978, 980, 981, 982, 983, 986, 989, 990, 991,
       992, 993, 994, 995, 997, 998, 999])

In [18]:
valid_idx_fold0

array([  9,  18,  34,  39,  44,  53,  57,  59,  66,  69,  71,  80,  84,
       103, 110, 120, 129, 131, 135, 138, 139, 142, 143, 148, 149, 150,
       163, 169, 171, 173, 176, 183, 186, 194, 197, 208, 210, 212, 215,
       218, 224, 227, 235, 238, 240, 242, 245, 255, 258, 274, 278, 280,
       302, 304, 318, 322, 340, 347, 354, 355, 361, 371, 374, 376, 378,
       384, 406, 409, 411, 421, 432, 434, 435, 440, 463, 468, 469, 476,
       477, 482, 493, 498, 499, 505, 506, 514, 517, 520, 525, 533, 535,
       536, 542, 543, 544, 547, 550, 552, 553, 554, 557, 564, 566, 569,
       571, 592, 596, 597, 601, 611, 613, 620, 621, 623, 630, 631, 632,
       633, 634, 636, 646, 653, 654, 668, 671, 679, 682, 685, 690, 694,
       699, 704, 708, 709, 718, 725, 736, 739, 742, 743, 744, 746, 753,
       758, 774, 775, 777, 778, 779, 781, 785, 791, 792, 796, 799, 802,
       803, 804, 818, 836, 841, 845, 846, 852, 854, 856, 866, 871, 873,
       876, 882, 887, 891, 895, 899, 904, 912, 915, 918, 926, 932, 937,
       938, 941, 948, 950, 951, 953, 954, 956, 959, 960, 964, 972, 979,
       984, 985, 987, 988, 996])